body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 75vw;
  min-height: 12vh;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.timeBlock {
  width: fit-content;
  height: fit-content;
  border: solid 1px black;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border: none;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  font-size: 8vh;
  height: 12vh;

}

.saveBtn i:hover {
  font-size: 10vh;
  transition: all 0.3s ease-in-out;
}


label{
  min-width: 5vw;
}

.container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
